---
---

@import "tiles";

// $font-header:  neuzeit-grotesk, georgia, serif;
$font-body: kepler-std, 'Apercu', 'Avenir', 'Poppins', sans-serif;
$font-sub: futura-pt, 'Futura PT', 'Futura', 'Helvetica', sans-serif;
$font-header: $font-sub;

$lightest: #62aeff;
$light: #7196ff;
$primary: #007bff;
$dark: #0068d8;
$darkest: #005fc4;

$blacker: #111111;
$whiter: #f5f5f5;
$forer: #111111;
$bluer: #89c2ff;

h1, h2, h3, h4, h5, h6, .title {
    font-family: $font-header;
    font-weight: bold;
}
body {
    font-family: $font-body;
    color: black;
    background-color: white;
}

.button {
    text-transform: uppercase;
}

p{
    font-size: 1.2rem;
}

.caps {
    text-transform: uppercase;
}
.bold {
    font-weight: bold;
}
.serif {
    font-family: $font-header;
}
.jos {
    font-family: $font-sub;
}
.sans {
    font-family: $font-body;
}

#header {
    box-shadow: 0px 10px 15px #888888;
    background-color: white;
}
.content {
    padding:1rem;
    background-color: white;
    // color: $whiter;

    // .fore {
    //     background-color: $forer;
    //     color: white;
    //     h1, h2, h3, .title {
    //         color: $bluer;
    //     }
    // }
}

// bg
.bg-lightest {
    background-color: $lightest;
}
.bg-lighte {
    background-color: $light;
}
.bg-primarya {
    background-color: $primary;
}
.bg-darke {
    background-color: $dark;
}
.bg-darkest {
    background-color: $darkest;
}
.bg-blacker {
    background-color: $blacker;
}
.bg-whiter {
    background-color: $whiter;
}

// tx
.tx-lightest {
    color: $lightest;
}
.tx-lighte {
    color: $light;
}
.tx-primarya {
    color: $primary;
}
.tx-darke {
    color: $dark;
}
.tx-darkest {
    color: $darkest;
}
.tx-blacker {
    color: $blacker;
}
.tx-whiter {
    color: $whiter;
}
.shadow {
    box-shadow: 5px 10px 15px #bbbbbb;
}
.pad {
    padding: 0.5em;
}

.btn-b {
    padding-top: 0.6em;
}