<div class="footer has-text-centered serif" style="padding:2rem;margin:-8px;margin-top:0.5rem;width: 100vw;font-weight: bold;">
    <div class="content">
        <nav class="" style="text-align: center;font-weight: bold;">
            <a href="../about/" style="text-decoration:none;color:inherit;padding:1em;"><h4 class="serif" style="display: inline;font-weight: bold;">About</h4></a>
            <a href="../contact/" style="text-decoration:none;color:inherit;padding:1em;"><h4 class="serif" style="display: inline;font-weight: bold;">Contact</h4></a>
            <a href="../home/" style="text-decoration:none;color:inherit;padding:1em;"><h4 class="serif" style="display: inline;font-weight: bold;">Home</h4></a>
        </nav>
        <a href="../admin.html" class="serif" style="text-decoration:none;color:inherit;padding:1em;">ADMIN</a>
        <h5 class="serif" style="text-align: center;">Website made by Ranjith RD with <a href="../tech/">this tech</a>. <a href="mailto:ranjithrd03@gmail.com">Contact here.</a></h5>
    </div>
</div>