  <nav class="navbar navbar-expand-lg shadow" style="margin-bottom:1em;">
    <a class="blogBrand serif navbar-brand" style="font-size: xx-large;" href="../home/"><span style="color: #007bff;">RANJITH</span><span style="color: black;">RD</span></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon" style="color: black;">&#9776;</span>
    </button>
  
    <div class="collapse navbar-collapse mr-auto" id="navbarSupportedContent">
      <ul class="navbar-nav">
        <li class="nav-item">
            <a href="../blog/" style="text-decoration:none;color:inherit;padding:1em;" class="nav-link"><h4 class="jos" style="display: inline;">blog</h4></a>
        </li>
        <li class="nav-item">
            <a href="../about/" style="text-decoration:none;color:inherit;padding:1em;" class="navbar-item nav-link"><h4 class="jos" style="display: inline;">about</h4></a>
        </li>
        <li class="nav-item">
            <a href="../work/" style="text-decoration:none;color:inherit;padding:1em;" class="navbar-item nav-link"><h4 class="jos" style="display: inline;">work</h4></a>
        </li>
      </ul>
    </div>
  </nav>
