  <nav class="navbar navbar-expand-lg shadow">
    <h1><a class="navbar-brand serif" style="font-size: xx-large;text-decoration: none;color:black;margin-left: 1rem;letter-spacing: 1px;" href="../home/">RANJITH RD</a></h1>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon" style="color: black;">&#9776;</span>
    </button>
  
    <div class="collapse navbar-collapse mr-auto" id="navbarSupportedContent">
      <ul class="navbar-nav">
        <li class="nav-item">
            <a href="../blog/" style="text-decoration:none;color:inherit;padding:1em;" class="nav-link"><h4 class="sans" style="display: inline;">blog</h4></a>
        </li>
        <li class="nav-item">
            <a href="../about/" style="text-decoration:none;color:inherit;padding:1em;" class="navbar-item nav-link"><h4 class="sans" style="display: inline;">about</h4></a>
        </li>
        <li class="nav-item">
            <a href="../contact/" style="text-decoration:none;color:inherit;padding:1em;" class="navbar-item nav-link"><h4 class="sans" style="display: inline;">work</h4></a>
        </li>
      </ul>
    </div>
  </nav>
